<div class="container">
    <h1>Header Text</h1>

    <ul>
        <li>
            <a routerLink="/students" routerLinkActive="active">Students</a>
        </li>
        <li>
            <a routerLink="/teachers" routerLinkActive="active">Teachers</a>
        </li>
        <li>
            <a routerLink="/mdf" routerLinkActive="active">MDF</a>
        </li>
        <li>
            <a routerLink="/create-student" routerLinkActive="active">Create Student</a>
        </li>
    </ul>


    <router-outlet></router-outlet>


    <h1>Footer Content</h1>

</div>