<h2 *ngIf="isEdit; else createTitle">Edit Student</h2>
<ng-template #createTitle>
    <h2>Create Student</h2>
</ng-template>

<div class="row">
    <div class="col-5">
        <form [formGroup]="studentForm">

            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="mb-3">
                <label class="form-label">Department ID</label>

                <select class="form-select" formControlName="department_id">
                    <option value="0">Select a department</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.title }}</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Age</label>
                <input type="number" class="form-control" formControlName="age">
            </div>

            <button type="button" class="btn btn-primary" [disabled]="studentForm.invalid" (click)="onSubmit()">Submit</button>

        </form>
    </div>
</div>