<div class="row">
    <div class="col-5">
        <form [formGroup]="studentForm">

            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>

            <div class="mb-3">
                <label class="form-label">Department ID</label>
                <input type="number" class="form-control" formControlName="department_id">
            </div>

            <div class="mb-3">
                <label class="form-label">Age</label>
                <input type="number" class="form-control" formControlName="age">
            </div>

            <button type="button" class="btn btn-primary" [disabled]="studentForm.invalid" (click)="onSubmit()">Submit</button>

        </form>
    </div>
</div>