table, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 300px;
}

.blue, .blue-bg{
    background-color: darkblue;
    color: white;
}

.red-bg{
    background-color: darkred;
    color: white;
}
