<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title *ngIf="isEdit; else createTitle">Edit Student</ion-title>
    <ng-template #createTitle>
        <ion-title>Create Student</ion-title>
    </ng-template>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   

  <form [formGroup]="studentForm">


    <ion-list>

      <ion-item>
        <ion-input label="Name" labelPlacement="floating" placeholder="Enter your name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Department" placeholder="Select department" formControlName="department_id">
          <ion-select-option *ngFor="let dept of departments" [value]="dept.id">{{ dept.title }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="number" label="Age" labelPlacement="floating" placeholder="Enter your age" formControlName="age"></ion-input>
      </ion-item>

    </ion-list>      

    <ion-button type="button" [disabled]="studentForm.invalid" (click)="onSubmit()">Submit</ion-button>

  </form>
     

</ion-content>
